<table class="table table-hover table-condensed table-bordered">
<tr>
<th>Lesson Plan</th>
<th>Date</th>
</tr>

<% @teacher.lesson_plan do |lesson_plan| %>
<tr>
<th><%= image_tag lesson_plan.lesson_plan_url.to_s %></th>
<th>Date</th>
</tr>

<% end %>
</table>
<br>
<%= simple_form_for([@teacher, @lessonplan]), :html => {:multipart => true} do |f| %>

    <%= f.file_field :lesson_plan %>
  <%= f.submit "Submit Plan" %>
<% end %>