<h1>Editing teacher</h1>

<%= render 'form' %>

<%= link_to 'Show', @teacher %> |
<%= link_to 'Back', teachers_path %> |
<%= link_to 'Delete', [@teacher],
               :confirm => 'Are you sure?',
               :method => :delete %>
